/* Styles for body */
body {
	background-color: aqua;
	font-family: Arial, sans-serif;
}

/* Styles for h1 */
h1 {
	text-align: center;
	margin-top: 50px;
}

/* Styles for form */
form {
	max-width: 600px;
	margin: 0 auto;
	background-color: beige;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

/* Styles for labels */
label {
	display: inline-block;
	margin-bottom: 5px;
}

/* Styles for inputs */
input[type="text"],
input[type="tel"],
input[type="date"],
select {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea{
	display: block;
	/* width: 100%; */
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	margin-right: 10px;
}
input[type=submit] ,
input[type=reset] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

/* Styles for header */
header {
	background-color: #1d2b94;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Styles for nav */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

/* Styles for ul */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

/* Styles for li */
li {
	margin-right: 20px;
}

/* Styles for a */
a {
	color: #fff;
	text-decoration: none;
}

/* Styles for main */
main {
	padding-top: 100px; /* height of the header */
}

.table{
	max-width: 600px;
	margin: 0 auto;
	background-color: beige;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}



/* Styles for position demo */
/* CSS for position */
#box1 {
	position: relative;
	top: -23px;
	left: 50px;
	background-color: yellow;
	padding: 10px;
}

#box2 {
	position: absolute;
	top: auto;
	/* bottom: auto; */
	left: 100px;
	background-color: blue;
	color: rgb(255, 255, 255);
	padding: 10px;
}



/* CSS for float */
#floatid{
	margin-top: 116px;
}
#float-left {
	
	float: left;
	width: 50%;
	background-color: pink;
	padding: 10px;
}

#float-right {
	float: right;
	width: 50%;
	background-color: green;
	padding: 10px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


/* CSS for display */

#block {
	display: block;
	background-color: red;
	color: white;
	padding: 10px;
	margin-bottom: 10px;
}

#inline {
	display: inline-block;
	background-color: orange;
	color: white;
	padding: 10px;
}



/* CSS for visibility */
#visible {
	visibility: visible;
	background-color: purple;
	color: white;
	padding: 10px;
}

#hidden {
	visibility: hidden;
	background-color: gray;
	color: white;
	padding: 10px;
}